/* Denna fil skall innehålla din CSS kod */

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1;
    padding: 0;
    margin: 0;
}

#index {
    display: grid;
    grid-template-areas: 'mn' 'ft';
    width: 100vw;
    margin: auto;
}

#aboutme {
    display: grid;
    grid-template-areas: 'mn' 'ft';
    width: 100vw;
    margin: auto;
}

#experiencep h3{
font-size: 20px;

}

#photo{
    display: grid;
    grid-template-areas: 'mn' 'ft';
    width: 100vw;
    margin: auto;

}

#illustrator{
    display: grid;
    grid-template-areas: 'mn' 'ft';
    width: 100vw;
    margin: auto;

}

#d{
    display: grid;
    grid-template-areas: 'mn' 'ft';
    width: 100vw;
    margin: auto; 
}

header {
    background-color: #F1F1F1;
    justify-content: space-between;
    grid-area: hd;
    opacity: 90%;
    position: fixed;
    width: 100vw;
    height: 5rem;
    z-index: 2;
    top: 0rem;
    text-decoration: none;
    color: #F1F1F1;
    flex-wrap: wrap;
}

#header {
    display: flex;
    width: 100%;
}

.header:hover {
    color: lightgray;
}

li {
    list-style: none;
    color: #F1F1F1;
    display: inline;
    /* margin-left: 4rem; */
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

nav {
    padding: 2rem;
}

#logga {
    width: 10rem;
    height: 4rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

#logga:hover {
    filter: opacity(80%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    margin-left: auto;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.5rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #141414;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 500;
    color: #141414;
}

.nav-link:hover {
    opacity: 80%;
}

#hrtop {
    border: 2px solid #141414;
    border-radius: 10rem;
    margin-top: 0rem;
    width: 70%;
    transform: translateY(2px);
    margin-right: 0;
}

#hrbottom {
    border-top: 2px solid #141414;
    border-radius: 10px;
    margin-top: 0.5rem;
    width: 70%;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}

footer {
    height: 20rem;
    text-align: center;
    grid-area: ft;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.5rem;
    margin-top: 5rem;
}

.instagram{
    grid-area: is;

}

.behance{
    grid-area: be;

}

.gmail{
    grid-area: gm;

}

.telefon{
    grid-area: te;

}


.footer img {
    height: 5rem;
}

.footer>p {
    margin-top: 0.3rem;
    color: #141414;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-12.5px) rotate(-45deg);
}

#imain {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    grid-area: mn;
    margin: 0rem;
}

#showreel video{
    width: 100%;
    height: 70%;
    margin-top: 5.5rem;
    margin-bottom: 5rem;
    background-color: #141414;

}

hr {
    border: 2px solid #141414;
    border-radius: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 3rem;
    color: #141414;
}

.info-header>h2 {
    align-self: center;
    color: #141414;
}

.info-body {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 3rem;
   
}

.info-body>img {
    width: 17rem;
    border-radius: 10px;
    grid-area: onfoimg;
}

.info-body>p {
    width: 60vw;
    text-align: left;
    margin-top: 5rem;
    margin-left: 4rem;
    color: #141414;
}

.in-body{
    display: grid;
    grid-template-areas:
    't1 t2'
    'ft ft';
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

#in1{
    grid-area: t1;
    display: block;
    margin-top: 10rem;
    flex-direction: column;
    justify-self: center;
    
}

#in2{
    grid-area: t2;
    display: block;
    padding-top: 5rem;
    flex-direction: column;
    justify-self: center;
        
}

div #in{
    margin-bottom: 3rem;

}

#in-header{
grid-area: th;
margin-top: 5rem;
margin-bottom: 1rem;
margin-left: 0.7rem;
color: #141414;

}

#in-p{
    grid-area: tp;
   width: 20rem;
   margin-bottom: 12rem;
   color: #141414;
}

.in-body p{
    margin-bottom: 7rem;
    width: 20rem;
    margin-top: 1rem;
    margin-left: 0.7rem;
    color: #141414;

}

.in-body img{
    height: 30rem;
    border-radius: 10px;


}

#in-picture-1{
grid-area: tp1;

}

#in-picture-2{
    grid-area: tp2;
    
    }

#in-picture-3{
    grid-area: tp3;
        
    }   

#in-picture-4{
    grid-area: tp4;
        
    }
    

#amain {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    grid-area: mn;
    margin: 0rem;
    margin-top: 15rem;
}

#amain>h2 {
    margin-left: 7rem;
    font-size: 3rem;
}

#experience>h2 {
    text-align: center;
}

#experience>p {
    display: block;
    margin: 1rem;
    margin-top: 4rem;
    color: #141414;
}

#experiencep {
    display: grid;
    grid-template-areas: 'a1 a2 a3' 'b1 b2 b3';
    text-align: center;
    margin-bottom: 5rem;
}

.a1 {
    grid-area: a1;
    padding: 3rem;
}

.a2 {
    grid-area: a2;
    padding: 3rem;
}

.a3 {
    grid-area: a3;
    padding: 3rem;
}

.b1 {
    grid-area: b1;
    padding: 3rem;
}

.b2 {
    grid-area: b2;
    padding: 3rem;
}

.b3 {
    grid-area: b3;
    padding: 3rem;
}

.photo-body{
    display: grid;
    grid-template-areas:
    't1 t2'
    'ft ft';
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

#photo1{
grid-area: t1;
display: block;
margin-top: 10rem;
flex-direction: column;
justify-self: center;

}

#photo2{
    grid-area: t2;
    display: block;
    padding-top: 5rem;
    flex-direction: column;
    justify-self: center;
    
}

div #photo{
    margin-bottom: 5rem;

}

#photo-header{
grid-area: th;
margin-top: 5rem;
margin-bottom: 1rem;
margin-left: 0.7rem;
color: #141414;

}

#photo-p{
    grid-area: tp;
   width: 20rem;
   margin-bottom: 12rem;
   color: #141414;
}

.photo-body p{
    margin-bottom: 7rem;
    width: 20rem;
    color: #141414;
    margin-top: 1rem;
    margin-left: 0.7rem;

}

.photo-body img{
    height: 30rem;
    border-radius: 10px;


}

#photo-picture-1{
grid-area: tp1;

}

#photo-picture-2{
    grid-area: tp2;
    
    }

#photo-picture-3{
    grid-area: tp3;
        
    }   

#photo-picture-4{
    grid-area: tp4;
        
    }

#photo-picture-5{
    grid-area: tp5;
        
    }

#photo-picture-6{
    grid-area: tp6;
        
    }



.ai-body{
    display: grid;
    grid-template-areas:
    't1 t2'
    'ft ft';
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

#ai1{
    grid-area: t1;
    display: block;
    margin-top: 10rem;
    flex-direction: column;
    justify-self: center;
    
}

#ai2{
    grid-area: t2;
    display: block;
    padding-top: 5rem;
    flex-direction: column;
    justify-self: center;
        
}

div #ai{
    margin-bottom: 3rem;

}

#ai-header{
grid-area: th;
margin-top: 5rem;
margin-bottom: 1rem;
margin-left: 0.7rem;
color: #141414;

}

#ai-p{
    grid-area: tp;
   width: 20rem;
   margin-bottom: 12rem;
   color: #141414;
}

.ai-body p{
    margin-bottom: 7rem;
    width: 20rem;
    color: #141414;
    margin-left: 0.7rem;
    margin-top: 1rem;

}

.ai-body img{
    height: 30rem;
    border-radius: 10px;


}

#ai-picture-1{
grid-area: tp1;

}

#ai-picture-2{
    grid-area: tp2;
    
    }

#ai-picture-3{
    grid-area: tp3;
        
    }   

#ai-picture-4{
    grid-area: tp4;
        
    }
    

    .d-body{
        display: grid;
        grid-template-areas:
        't1 t2'
        'ft ft';
        grid-template-columns: 1fr 1fr;
        width: 100%;
    
    }
    
    #d1{
        grid-area: t1;
        display: block;
        margin-top: 10rem;
        flex-direction: column;
        justify-self: center;
        
    }
    
    #d2{
        grid-area: t2;
        display: block;
        padding-top: 5rem;
        flex-direction: column;
        justify-self: center;
            
    }
    
    div #d{
        margin-bottom: 3rem;
    
    }
    
    #d-header{
    grid-area: th;
    margin-top: 5rem;
    margin-bottom: 1rem;
    margin-left: 0.7rem;
    color: #141414;
    
    }
    
    #d-p{
        grid-area: tp;
       width: 20rem;
       margin-bottom: 7rem;
       color: #141414;
    }
    
    .d-body p{
        margin-bottom: 5rem;
        width: 25rem;
        margin-left: 0.7rem;
        margin-top: 1rem;
        color: #141414;
    
    }
    
    .d-body video{
        height: 30rem;
        border-radius: 10px;
        width: 30rem;
    
    
    }
    
    #d-picture-1{
    grid-area: tp1;
    
    }
    
    #d-picture-2{
        grid-area: tp2;
        
        }

@media only screen and (max-width: 900px) {
    .nav-menu {
        position: fixed;
        left: -100rem;
        top: 0rem;
        flex-direction: column;
        background-color: #F1F1F1;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 1.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    #hrtop {
        opacity: 0;
    }

    #showreel video{
        left: -500rem;
        opacity: 0;
        margin-top: 0rem;
        margin-bottom: 0rem;
        width: 0;
        height: 0;
    
    }

    .info-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0rem;
    }

    .info-body>p{
        margin-top: 1rem;

    }

    .in-body{
        display: grid;
        grid-template-areas:
        't2'
        't1'
        'ft';
        width: 100%;
        justify-content: center;
        grid-template-columns: none;
        grid-template-columns: 0;
        gap: 0;
    
    }
    

#in1{
    margin-top: 0rem;
    
}

#in2{
    padding-top: 0rem;
}
    #in-header{
        justify-content: center;
        text-align: center;
        margin-top: 5rem;
        
        }

    #in-p{
        justify-content: center;
        text-align: center;
        margin-bottom: 0rem;

    }
  
    #amain>h2 {
        text-align: center;
        margin: 0;
    }

    #experiencep {
        display: grid;
        grid-template-areas: 'a1 a2' 'a3 b1' 'b2 b3';
    }


    .photo-body{
        display: grid;
        grid-template-areas:
        't2'
        't1'
        'ft';
        width: 100%;
        justify-content: center;
        grid-template-columns: none;
    
    }

    #photo-p{
       justify-content: center;
     
    }

    #photo-header{
       justify-content: center;
        
    }

    #photo1{
        margin-top: 0rem;
        
        }

    .ai-body{
        display: grid;
        grid-template-areas:
        't2'
        't1'
        'ft';
        width: 100%;
        justify-content: center;
        grid-template-columns: none;
    
    }


    #ai-header{
        justify-content: center;
         
     }

     #ai1{
        margin-top: 0rem;
        
        }

    .d-body{
        display: grid;
        grid-template-areas:
        't2'
        't1'
        'ft';
        width: 100%;
        justify-content: center;
        grid-template-columns: none;
    
    }

    #d1{
        margin-top: 0rem;
        
    }

    #d-header{
        justify-content: center;
         
     }

  
    .d-body video{
        height: 20rem;
        width: 15rem;
        justify-content: center;
        
    }

    .d-body p{
        width: 20rem;
    
    }

    #footer{
        display: grid;
        grid-template-areas: 'is be'
        'gm te';
        margin-top: 1rem;
        margin-left: 0rem;

    }

    .footer img {
        height: 2.5rem;
        margin-top: 1.5rem;
    }


}